
.env
.env.*
*.key
*.pem

Keycloak/realms/interim-realm.json


docker-compose.override.yml


target/
*.log
*.class


.mvn/wrapper/maven-wrapper.jar


.idea/
.vscode/
*.iml


.DS_Store
Thumbs.db

NService/uploads/


tmp/
temp/


./Keycloak/realms/interim-realm.json
./Keycloak/realms/master-realm.json


src/main/resources/application-dev.yml
