# ========================
# ENV / SECRETS
# ========================
.env
.env.*
*.key
*.pem

# ========================
# SPRING BOOT
# ========================
NService/target/
*.log
*.class

# Ignorer uniquement le vrai fichier secret
NService/src/main/resources/application-dev.yml

# ========================
# UPLOADS (runtime only)
# ========================
NService/uploads/
!NService/uploads/.gitkeep

# ========================
# MAVEN
# ========================
.mvn/wrapper/maven-wrapper.jar

# ========================
# IDE
# ========================
.idea/
.vscode/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# DOCKER
# ========================
docker-compose.override.yml

# ========================
# KEYCLOAK (secrets)
# ========================
NService/Keycloak/realms/*-realm.json
